<div class="id1">
<h1>Welcome To Slot Machine Game :: {{user_name}}</h1>
<button class="logout"><a [routerLink]="['/login']">LOGOUT</a></button>
</div>
 <div class="id2">
               <p class="p1">YOUR CREDITS IS = {{credits}}</p>
</div>

<div class="images">
       <img class="img" [src]="currentSym1.symbolLink" >
       <img class="img" [src]="currentSym2.symbolLink" >
       <img class="img" [src]="currentSym3.symbolLink" >
</div>

  <div class="button">
    <button type="button" (click)="obj_spin1()" [disabled]="isapin" class="btn1">SPIN</button>
    <button type="button" (click)="restart()" class="btn2">RESTART</button>
    <button cdkDrag type="button" class="btn3" [@btnState]="position" (mouseenter)="changePosition()" (click)="onClick()" [disabled]="btnDisabled"> CASH OUT</button>
 </div>

 
       <div class="ratio">   Ratio {{totaltry}} : {{wintry}}</div>
    <div  class="chart" style="display: block">
  <canvas baseChart
          [data]="data"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="box" cdkDrag>Drag me around!</div>