.img
{
    height:150px;
    width:100px;
   border: 3px solid green;
  padding: 10px;
  margin: auto;
  text-align: center;
  justify-content: center; 
}
.images
{
  text-align: center;
}

.button{
   text-align: center;  
}

.chart{
  height:700px;
  width:700px;
  text-align: center;  
  margin-top: auto;
}
.btn1{
  font-size: 12px;
  background-color: LightBlue;
  border-radius: 12px;
  height:50px;
  width:60px;
}
.btn2{
  font-size: 12px;
  background-color:LightBlue;
  border-radius: 12px;
  height:50px;
  width:70px;
  margin:20px
}

.btn3{
  font-size: 12px;
  background-color:LightBlue;
  border-radius: 12px;
  height:50px;
  width:80px;
  margin:1px;
  transition: all ease-in-out 7.0s;
}
.logout{
  font-size: 12px;
  background-color:LightBlue;
  border-radius: 12px;
  height:50px;
  width:70px;
  margin-top: -60px;
  margin-left: 580px;
  position:absolute;
}
.id1{
  border: 5px solid #FFFF00;
text-align: center;
}
.id2{
  height:50px;
  text-align: center;
}
.p1{
  font-size:20px;
}
.ratio
{
 text-align: center;
 font-size:20px;
}
.drag{
    height: 100px;
    width: 100px;
    border: solid 3px;
}
 
.container{
 border: dotted 3px;
 min-height: 500px;
}